apiVersion: apps/v1
kind: Deployment
metadata:
  name:  {{ include "keda-http-addon-example.fullname" . }}
  labels:
    {{ include "keda-http-addon-example.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{ include "keda-http-addon-example.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{ include "keda-http-addon-example.labels" . | nindent 8 }}
    spec:
      volumes:
        - name: nginx-config
          configMap:
            name:  {{ include "keda-http-addon-example.name" . }}-nginx-config
      containers:
        - name: {{ include "keda-http-addon-example.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http