apiVersion: v1
kind: Service
metadata:
  name: keda-example
  labels:
    app.kubernetes.io/name: keda-example
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port}}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: keda-example
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}