apiVersion: v1
kind: Service
metadata:
  name:  {{ include "keda-http-addon-example.fullname" . }}
  labels:
    {{ include "keda-http-addon-example.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name:  {{ include "keda-http-addon-example.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}