deploymentToZero: true

fullnameOverride: ""
nameOverride: ""

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "1.27.0"

service:
  port: 80
  proxyPort: 8080

ingress:
  hosts:
    - "keda-example.local"

keda:
  http:
    interceptor:
      port: 8080