deploymentToZero: true

fullnameOverride: ""
nameOverride: ""

image:
  repository: nginxinc
  name: ingress-demo
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  port: 80
  proxyPort: 8080

ingress:
  hosts:
    - "keda-example.local"

keda:
  http:
    interceptor:
      port: 8080
